@keyframes scale {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    opacity: 0.5;
    border-color: #FFF;
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.2);
    -moz-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    -o-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    opacity: 0;
    border-color: #929292;
  }
}
html {
  font-size: 16px;
}
main {
  font-size: 1.2rem;
  font-weight: 300;
}
#introduction {
  margin: 5rem auto;
}
#introduction .section-header {
  margin-bottom: 1rem;
}
#introduction #profile-photo {
  margin: 0 auto;
  position: relative;
}
#introduction #profile-photo::before,
#introduction #profile-photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  border: 2px solid #FFF;
  animation: scale 1.5s infinite ease-out;
}
#introduction #profile-photo::after {
  animation-delay: 0.4s;
}
#introduction #profile-photo img {
  width: 15rem;
  height: 15rem;
  border: 2px solid #FFF;
}
#introduction #profile-photo figcaption .location i {
  line-height: inherit;
  vertical-align: middle;
  padding-right: 5px;
}
#introduction #profile-photo figcaption .linkedin {
  word-break: break-all;
}
#education .location,
#education .year {
  text-align: right;
}
#skills .header {
  margin-bottom: 0.75rem;
}
#projects {
  padding-bottom: 0;
  margin-bottom: 0;
}
#projects .wrapper {
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#projects .wrapper:first-child {
  margin-top: 2rem;
}
#projects .wrapper#ignite {
  background-image: url("../img/Project-Ignite.png");
  background-position: 35% 100%;
}
#projects .wrapper#ndmatrix {
  background-image: url("../img/NDMatrixMultiplication.png");
  background-position: left;
}
#projects .wrapper#csi-cms {
  background-image: url("../img/CSI-CMS.png");
  background-position: right;
}
#projects .wrapper#ecomm-website {
  background-image: url("../img/Ecomm.png");
  background-position: right;
}
#projects .wrapper#disrs {
  background-image: url("../img/disrs.png");
  background-position: left;
}
#projects .wrapper .container {
  margin-bottom: 0;
  padding: 2rem 0;
}
#projects .wrapper .team,
#projects .wrapper .responsibilities {
  margin-top: 1.5rem;
}
#projects .wrapper .team h6,
#projects .wrapper .responsibilities h6 {
  margin-bottom: 0.75rem;
}
#projects .wrapper .notice {
  margin-top: 1rem;
}
.section {
  margin: 2rem auto;
}
.section .wrapper {
  margin: 2rem auto;
}
.section .section-header {
  font-weight: 600;
  margin-bottom: 3rem;
}
.section .header {
  font-weight: 500;
}
@media all and (max-width: 600px) {
  #education .wrapper {
    text-align: center;
  }
  #education .wrapper .location,
  #education .wrapper .year {
    text-align: center;
  }
}
