@color1: #555555;
@dark-color1: #373737;
@light-color1: #929292;
@color2: #FFF;
@dark-color2: #fcfcfc;

@profile-size: 12rem;

@keyframes scale {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    opacity: 0.5;
    border-color: @color2;
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1.2);
    -moz-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    -o-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    opacity: 0;
    border-color: @light-color1;
  }
}

main {
  font-weight: 300;
  font-size: 1.25rem;
}

#introduction {
  margin: 5rem auto;
  .section-header {
    margin-bottom: 1rem;
  }

  #profile-photo {
    margin: 0 auto;
    position: relative;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      -o-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      border-radius: 50%;
      width: @profile-size;
      height: @profile-size;
      border: 2px solid @color2;
      animation: scale 1.5s infinite ease-out;
    }

    &::after {
      animation-delay: 0.5s;
    }

    img {
      width: @profile-size;
      height: @profile-size;
      border: 2px solid @color2;
    }

    figcaption {
      .location {
        i {
          line-height: inherit;
          vertical-align: middle;
          padding-right: 5px;
        }
      }
      .linkedin {
        word-break: break-all;
      }
    }
  }
}

#education {
  .location, .year {
    text-align: right;
  }
}

#skills {
  .header {
    margin-bottom: 0.75rem;
  }
}

#projects {
  //padding-bottom: 0;
  //margin-bottom: 0;
  .wrapper {
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    &:first-child {
      margin-top: 2rem;
    }

    &#ignite {
      background-image: url("../img/Project-Ignite.png");
      background-position: 35% 100%;
    }
    &#ndmatrix {
      background-image: url("../img/NDMatrixMultiplication.png");
      background-position: left;
    }
    &#csi-cms {
      background-image: url("../img/CSI-CMS.png");
      background-position: right;
    }
    &#ecomm-website {
      background-image: url("../img/Ecomm.png");
      background-position: right;
    }
    &#disrs {
      background-image: url("../img/disrs.png");
      background-position: left;
    }

    .container {
      //min-height: 500px;
      margin-bottom: 0;
      padding: 2rem 0;
    }

    .team, .responsibilities {
      margin-top: 1.5rem;
      h6 {
        margin-bottom: 0.75rem;
      }
    }

    .notice {
      margin-top: 1rem;
    }

  }
}

.section {
  //margin: 2rem auto;

  .wrapper {
    margin: 2rem auto;
  }

  .section-header {
    margin-bottom: 3rem;
  }

  .header {
    font-weight: 400;
  }
}

@media all and (max-width: 600px) {
  #education {
    .wrapper {
      text-align: center;
      .location, .year {
        text-align: center;
      }
    }
  }
}